*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html{
    scroll-behavior:smooth;
}


body{

    background:
    radial-gradient(circle at top,#ffb6c9,#3b0b20 55%,#16000a);

    color:white;
    font-family:'Poppins',sans-serif;
    overflow-x:hidden;

}



/* BACKGROUND PARTICLES */

#particles{

    position:fixed;
    inset:0;
    z-index:-2;

}


.particle{

    position:absolute;
    width:4px;
    height:4px;
    background:#ffd6e0;
    border-radius:50%;
    animation:shine 3s infinite alternate;

}


@keyframes shine{

from{
opacity:.2;
transform:scale(.5);
}

to{
opacity:1;
transform:scale(1.5);
}

}






/* INTRO */


#intro{

    position:fixed;
    inset:0;
    background:#16000a;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:9999;
    animation:hideIntro 3.5s forwards;

}


#intro h1{

    font-family:'Great Vibes',cursive;
    font-size:100px;
    color:#ffb6c9;
    text-shadow:0 0 30px #ff6f91;

}


#intro p{

    margin-top:20px;
    color:#ffd6e0;

}



@keyframes hideIntro{

0%,80%{
opacity:1;
}

100%{

opacity:0;
visibility:hidden;

}

}






/* CARD */


.card{

background:rgba(255,255,255,.12);

border:1px solid rgba(255,200,220,.3);

backdrop-filter:blur(20px);

box-shadow:
0 0 40px rgba(255,105,150,.15);

border-radius:25px;


}






/* PASSWORD */


#lockScreen{

position:fixed;
inset:0;
background:#16000a;
display:flex;
justify-content:center;
align-items:center;
z-index:500;

}



.login{

padding:50px;
text-align:center;

}



.login h1{

font-size:50px;

}



.login h2{

font-family:'Great Vibes',cursive;
font-size:50px;
color:#ffb6c9;

}



.login p{

color:#ffd6e0;
margin:20px;

}



#password{

width:220px;
padding:15px;

background:#24000f;

border:1px solid #ff8fab;

border-radius:30px;

text-align:center;

font-size:20px;

color:white;

}





button{

margin-top:25px;

padding:15px 45px;

border:none;

border-radius:50px;

background:#ff8fab;

color:white;

cursor:pointer;

font-size:16px;

transition:.4s;

}



button:hover{

transform:scale(1.08);

box-shadow:0 0 30px #ff8fab;

}






#website{

display:none;

}








/* HERO */


.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:20px;

}



.hero h1{

font-family:'Great Vibes',cursive;

font-size:100px;

color:#ffd6e0;

}



.hero p{

margin-top:20px;

color:#ffd6e0;

}




.counter{

margin:40px auto;

padding:30px;

width:280px;

}



.counter span{

display:block;

font-size:70px;

font-weight:600;

color:#ffb6c9;

}



.counter p{

margin:0;

}








/* SECTIONS */


section{

padding:100px 10%;

}



section h2{

text-align:center;

font-family:'Great Vibes',cursive;

font-size:70px;

color:#ffd6e0;

margin-bottom:50px;

}






/* LETTERS */


.letters{

display:flex;

flex-direction:column;

gap:40px;

}



.letter{

padding:40px;

line-height:2;

opacity:0;

transform:translateY(50px);

transition:1s;

}



.letter.show{

opacity:1;

transform:translateY(0);

}



.letter h3{

color:#ffb6c9;

margin-bottom:20px;

}








/* QUOTE */


.quote{

text-align:center;

}



.quote h2{

font-size:45px;

font-family:'Poppins',sans-serif;

font-weight:300;

}








/* ENDING */


.ending{

text-align:center;

}



#final{

display:none;

margin-top:60px;

animation:fade 2s;

}



#final h1{

font-family:'Great Vibes',cursive;

font-size:90px;

color:#ffb6c9;

}



#finalText{

font-size:22px;

line-height:2;

color:#ffd6e0;

margin-top:30px;

}



@keyframes fade{

from{
opacity:0;
}

to{
opacity:1;
}

}







/* HEARTS */


.heart{

position:fixed;

color:#ff8fab;

font-size:20px;

pointer-events:none;

animation:heartUp 2s forwards;

}



@keyframes heartUp{


from{

transform:translateY(0) scale(1);

opacity:1;

}


to{

transform:translateY(-120px) scale(0);

opacity:0;

}


}






footer{

padding:40px;

text-align:center;

color:#ffd6e0;

}





@media(max-width:700px){


#intro h1{

font-size:60px;

}



.hero h1{

font-size:65px;

}



section h2{

font-size:55px;

}



.login{

margin:20px;

}



}
